<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>链路监控系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--- css start-->
    <link th:href="@{/static/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>

    <!--- js start-->
    <script th:src="@{/static/plugins/bootstrap/js/bootstrap.min.js}"></script>

</head>
<body>

<el-row>
    <el-col :span="24"><div class="grid-content bg-purple-dark"></div></el-col>
</el-row>


<div id="contentHtml">123</div>


</body>
</html>