<html xmlns:th="http://www.thymeleaf.org">
<div class="css-monitor-main-content">

    <ol class="breadcrumb">
        <li><a href="javascript:void(0);">监控系统</a></li>
        <li><a href="javascript:void(0);">链路查找</a></li>
        <li><a href="javascript:void(0);" class = "active">链路详情</a></li>
    </ol>

    <div class="panel panel-default">
        <div class="panel-body">
            <ul class="nav nav-pills">
                <li class=""><a href="#"><strong>traceId:</strong> <span class="badge">-1412304224978337206</span></a></li>
                <li class=""><a href="#"><strong>调用时长:</strong> <span class="badge">9600732 ms</span></a></li>
                <li class=""><a href="#"><strong>深度:</strong> <span class="badge">2</span></a></li>
                <li class=""><a href="#"><strong>服务数:</strong> <span class="badge">3</span></a>
                </li>
            </ul>
        </div>
    </div>


</div>
</html>