<html xmlns:th="http://www.thymeleaf.org">
<div class="css-monitor-main-content">

    <ul class="breadcrumb">
        <li><a href="javascript:void(0);">监控系统</a></li>
        <li class="active">链路查找</li>
    </ul>

    <div class="panel panel-default" style="width: 70%;">
        <div class="panel-body">
            <form class="form-horizontal" role="form" id="callChainSearchForm">
                <div class="form-row">
                    <div class="col-md-10" style="width:85.3%">
                        <label for="traceId">Trace Id:</label>
                        <input class="form-control" id="traceId" name="traceId" type="text">
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-3">
                        <label for="applicationName">应用名称:</label>
                        <div>
                            <select id="applicationName" name="applicationName" class="form-control">
                                <option value="" selected="selected">请选择</option>
                                <div th:each="applicationName : ${applicationNames}">
                                    <option th:value="${applicationName}" th:text="${applicationName}"></option>
                                </div>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4" style="margin-left: 1%;">
                        <label for="name" class="control-label">名称:</label>
                        <div>
                            <input type="text" class="form-control" id="name" name="name" placeholder="TestController.test">
                        </div>
                    </div>
                    <div class="col-md-3" style="margin-left: 1%;">
                        <label for="ip" class="control-label">机器IP:</label>
                        <div>
                            <input type="text" class="form-control" id="ip" name="ip" placeholder="10.11.22.33">
                        </div>
                    </div>
                </div>


                <div class="form-row">
                    <div class="col-md-2 mb-2">
                        <label >耗时范围(ms):</label>
                        <input type="text" value="0" class="form-control" id="minCost" name="minCost">
                    </div>
                    <div class="col-md-1 mb-1">
                        <span style="float: left;margin-top: 30px;margin-left: -20px">~</span>
                    </div>
                    <div class="col-md-2 mb-2">
                        <input type="text" placeholder="耗时上限" class="form-control" style="margin-left: -63%;margin-top: 25px" id="maxCost" name="maxCost">
                    </div>
                    <div class="col-md-5 mb-5" style="margin-left: -8.5%">
                        <label for="exceptionInfo">异常信息:</label>
                        <input type="text" class="form-control" id="exceptionInfo" name="exceptionInfo" placeholder="异常信息">
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-4 mb-4">
                        <label for="startTime">开始时间:</label>
                        <input class="form-control" id="startTime" name="startTime" type="text">
                    </div>
                    <div class="col-md-4 mb-4">
                        <label for="endTime">结束时间:<p style="float: right;margin-bottom: 0px;color: red">(注意:时间段只能在1个月之内)</p></label>
                        <input class="form-control" id="endTime" name="endTime" type="text">
                    </div>
                    <div class="col-md-3 mb-3">
                        <button type="button" class="btn btn-default js-call-chain-search" style="margin-top: 12%;margin-left:-3.5%;">搜索</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="trace-search-alert" class="alert alert-warning" style="width: 70%; display: none;">
        <a href="#" class="close js-close-trace-alert">
            &times;
        </a>
        <strong style="color: #f40000">错误！</strong><span id="trace-error-container">详细信息</span>
    </div>

    <div id="call-chain-results" class="css-call-chain-results">


    </div>
</div>
<script th:src="@{/static/js/trace.js}"></script>
</html>