<html xmlns:th="http://www.thymeleaf.org">
<div class="css-monitor-main-content">

    <ul class="breadcrumb">
        <li><a href="javascript:void(0);">监控系统</a></li>
        <li class="active">日志查询</li>
    </ul>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="panel panel-default" style="margin-left: 1.2%">
                <div class="panel-body">
                    <div style="margin-left: 1.2%">
                        <div class="list-group list-group-horizontal">
                            <a href="#" class="list-group-item text-center js-log-group active" data-type="currentMonth">本月份</a>
                            <a href="#" class="list-group-item text-center js-log-group" data-type="last3h">最近3小时</a>
                            <a href="#" class="list-group-item text-center js-log-group" data-type="last6h">最近6小时</a>
                            <a href="#" class="list-group-item text-center js-log-group" data-type="last24h">最近24小时</a>
                            <a href="#" class="list-group-item text-center js-log-group" data-type="today">今天</a>
                            <a href="#" class="list-group-item text-center js-log-self" >自定义</a>
                        </div>
                    </div>

                    <form id="timeQueryForm" class="form-horizontal" role="form" style="width: 89%;display: none;">
                        <div class="form-row">
                            <div class="col-md-4">
                                <label for="startTime">开始时间:</label>
                                <input class="form-control" id="startTime" name="startTime" type="text">
                            </div>
                            <div class="col-md-4">
                                <label for="endTime">结束时间:<p style="float: right;margin-bottom: 0px;color: red">(注意:时间段只能在1个月之内)</p></label>
                                <input class="form-control" id="endTime" name="endTime" type="text">
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <form class="form-horizontal" role="form" id="logSearchForm">
                <div class="form-row">
                    <div class="col-md-10" style="width:85.3%">
                        <input class="form-control" id="condition" name="condition" type="text" placeholder="输入搜索条件...(支持带字段名称，举个例子:traceId:d1420bcad8204cd981d0eeaf2397d6e4 AND message:RequestParam)">
                        <div class="dsl-link-class"><span><a href="https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-query-string-query.html#query-string-syntax" target="_blank" class="lc-link">使用DSL查询语法</a></span></div>
                    </div>
                    <div class="col-md-1 mb-1">
                        <button type="button" class="btn btn-default js-log-search">搜索</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="log-search-alert" class="alert alert-warning" style="width: 70%; display: none;">
        <a href="#" class="close js-close-log-alert">
            &times;
        </a>
        <strong style="color: #f40000">错误！</strong><span id="log-error-container">详细信息</span>
    </div>

    <div class="css-log-results">
        <div id="mountNode"></div>
        <div id="log-results"></div>
    </div>
</div>
<script th:src="@{/static/plugins/antv/g2.min.js}"></script>
<script th:src="@{/static/plugins/antv/data-set.min.js}"></script>
<script th:src="@{/static/js/log.js}"></script>
</html>