<html xmlns:th="http://www.thymeleaf.org">
<div class="css-monitor-main-content">

    <ul class="breadcrumb">
        <li><a href="javascript:void(0);">监控系统</a></li>
        <li class="active">日志查询</li>
    </ul>

    <div class="panel panel-default">
        <div class="panel-body">
            <form class="form-horizontal" role="form" id="logSearchForm">
                <div class="form-row">
                    <div class="col-md-10" style="width:85.3%">
                        <input class="form-control" id="condition" name="condition" type="text" placeholder="输入搜索条件...(必须带字段名称，举个例子:traceId:d1420bcad8204cd981d0eeaf2397d6e4 AND message:RequestParam)">
                        <div class="dsl-link-class"><span><a href="https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-query-string-query.html#query-string-syntax" target="_blank" class="lc-link">使用DSL查询语法</a></span></div>
                    </div>
                    <div class="col-md-1 mb-1">
                        <button type="button" class="btn btn-default js-log-search">搜索</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="log-search-alert" class="alert alert-warning" style="width: 70%; display: none;">
        <a href="#" class="close js-close-log-alert">
            &times;
        </a>
        <strong style="color: #f40000">错误！</strong><span id="log-error-container">详细信息</span>
    </div>

    <div id="log-results" class="css-log-results">


    </div>
</div>
<script th:src="@{/static/js/log.js}"></script>
</html>